<% @title="How Does It Work" %>
<nav>
<ol>
<a href="index.html"><li class="">Raise Money</li></a>
<a href="help.html"><li class="selected">How Does it Work?</li></a>
<a href="restuarant.html"><li class="">Restaurants</li></a>
</ol>
</nav>
</header>
<section id="main">
		<!-- / Start FAQs Content --><div id="questions_answers">
							<div id="questions">
							<div id="links">
							<h2>Getting Started:</h2>
							<ul>
							<li><a href="#1">What is grubraise?</a></li>
							<li><a href="#2">What kinds of restaurants can we order from?</a></li>
							<li><a href="#3">How much will we earn?</a></li>
							<li><a href="#4">How much does it cost our school?</a></li>
							</ul>
							<h2>Registering on grubraise.</h2>
							<ul>
							<li><a href="#5">How do we register?</a></li>
							<li><a href="#6">Can private schools join grubraise?</a></li>
							<li><a href="#7">Can after school programs such as the Boys and Girls Club, and intramural sports teams register?</a></li>
							</ul>
							<h2>Working with Families</h2>
							<ul>
							<li><a href="#8">How will we notify families that they can order in locally to support our school?</a></li>
							</ul>
							<h2>Ordering Food</h2>
							<ul>
							<li><a href="#9">What if there are problems with my order?</a></li>
							<li><a href="#10">Are there any minimums?</a></li>
							<li><a href="#11">Can the friends and families of our children and their parents order food even if they do not have a child in school?</a></li>
							<li><a href="#12">Are there specialty restaurants on grubraise?</a></li>
							</ul>
							<h2>Give Back Hours</h2>
							<ul>
							<li><a href="#13">What are give back hours?</a></li>
							<li><a href="#14">Can I order food when there are no give back hours?</a></li>
							</ul>
							</div>
							</div>

							<br />

							<a name="1"></a>
							<h3>What is grubraise?</h3>
							<p>grubraise is a better way to do school fundraising.  Typically, restaurant fundraisers require the scheduling of a dates and times where PTA's organize parents and invite them to fundraise over meals.  Additionally, each year parents, and friends are asked to purchase overpriced items they are never too pumped about, like magazines, in support of local schools.  grubraise simplifies things so that your school is always raising money, while parents and friends are delighted to order delicious food locally!  When it's time to grubraise, through our site, parents and friends can log in and order food locally during give back hours.  Each time a purchase is made, your school raises money. </p>

							<a name="2"></a>
							<h3>What kinds of restaurants can we order from?</h3>
							<p>All kinds.  We make it super simple for you to search based on what you're in the mood for.</p>


							<a name="3"></a>
							<h3>How much will we earn?</h3>
							<p>Each restaurant gives back a percentage of sales during give back hours based on their own discretion.  Based on the average number of students per school, the average give back percentage, the average ticket, and assuming that just 10% of families make an order once per week, your school will raise more than $15,000 per year. </p>

							<a name="4"></a>
							<h3>How much does it cost our school?</h3>
							<p>Nothing. Ever. Period. </p>

							<a name="5"></a>
							<h3>How do we register?</h3>
							<p>Fill out the form on our home page, and we will contact you soon. Once we verify your status as a 501(c)(3) and that you are a public school, you're on your way!</p>

							<a name="6"></a>
							<h3>Can private schools join grubraise?</h3>
							<p>No, not at this time. However, we plan to do so in the future.</p>


							<a name="7"></a>
							<h3>Can after school programs such as the Boys and Girls Club, and intramural sports teams register?</h3>
							<p>No, not at this time, however we plan to do so in the future.</p>

							<a name="8"></a>
							<h3>How will we notify families that they can order in locally to support our school?</h3>
							<p>We work with your PTA leader or administration official to determine the best way to notify all parents in a simple and non-time consuming manner.  Once each parent is registered, they will be able to order food, and invite friends and neighbors.  Parents will also receive progress on how much your school has raised, how much they are directly and indirectly responsible for, and notifications regarding prize promotions centered around your school's fundraising activities. </p>

							<a name="9"></a>
							<h3>What if there are problems with my order?</h3>
							<p>On our site, you'll be able to customize your order.  However, if when delivered your order is incomplete, or you are in anyway unsatisfied, contact us for a full and complete refund.  No questions asked.</p>

							<a name="10"></a>
							<h3>Are there any minimums?</h3>
							<p>No.  Your school is raising money when 1 order is placed, or when 100,000 orders are placed. </p>


							<a name="11"></a>
							<h3>Can the friends and families of our children and their parents order food even if they do not have a child in school?</h3>
							<p>Absolutely.  Our mission is to give everyone and anyone the ability to help enhance local childrens' learning experience.  Enjoying meals is a great way to do that.</p>

							<a name="12"></a>
							<h3>Are there specialty restaurants on grubraise?</h3>
							<p>You should be able to find most of what you are in the mood for, regardless of dietary preference or eating habits.</p>

							<a name="13"></a>
							<h3>What are give back hours?</h3>
							<p>Give back hours are times where restaurants have made ordering food in support of your local school a possibility.  During these times, each time you make an order, a portion will go to the school you're registered with.</p>

							<a name="14"></a>
							<h3>Can I order food when there are no give back hours?</h3>
							<p>Through our site, you will only be able to order food from restaurants who are giving back at that time.  It may be 3 p.m. and there may be 20 restaurants giving back, or, it may be 6 p.m. and there may be 30 restaurants available to order from who are giving back.  It will vary. </p>

							

		<!-- / End FAQs Content --></div>
		<!-- / End Main --></section>