<nav>
<ol>

<a href="index.html"><li class="">Raise Money</li></a>
<a href="help.html"><li class="">How Does it Work?</li></a>
<a href="restuarant.html"><li class="">Restaurants</li></a>
</ol>
</nav>
</header>
<section id="main">
<% @title="Thank You" %>
<div id="restaurant_form">
							<h2>Thank You</h2>
							<p>We appreciate your interest in selling more of your delicious food in support of the kids in your own backyard.  We will be in touch soon.</p>
		</div>
	</section>