<% @title="Thank You" %>
<nav>
	<ol>
		<a href="index.html"><li class="">Raise Money</li></a>
		<a href="help.html"><li class="">How Does it Work?</li></a>
		<a href="restuarant.html"><li class="">Restaurants</li></a>
	</ol>
</nav>

</header>

<section id="main">
<div id="restaurant_form">
	<h2>Thank You</h2>
	<p>We are looking forward to speaking with you about grubraise.  We are confident that your parents will be delighted to feed their families, while participating in your schools' fundraiser.  We will be in contact to arrange a time to discuss the next steps.</p>
</div>
</section>