 <% @title="Restaurant Owners" %>
<nav>
<ol>
<a href="index.html"><li class="">Raise Money</li></a>
<a href="help.html"><li class="">How Does it Work?</li></a>
<a href="restuarant.html"><li class="selected">Restaurants</li></a>
</ol>
</nav>
</header>
<section id="main">
	<div id="restaurant_form">
		<h2>Restaurant Form</h2>
		<p>If you are a restaurant owner, and you are interested in knowing more about how grubraise can help make you more profitable, please enter your contact information below.</p>
	
		<br />

		<%= render 'form' %>

	</div>
</section>